*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body{
    background-color: #dadada;
}
a{
    text-decoration: none;
    color: inherit;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131921;
    color: #ffffff;
    padding: 10px 20px;
}
nav .logo{
    width: 100px;
}
.location{
    display: flex;
    align-items: end;
    color: #c4c4c4;
    margin-left: 15px;
    justify-content: center;
    font-size: 13px;
}
.location img{
    height: 20px;
}
.location h1{
    color: white;
    font-size: 14px;
}
.nav-search{
    display: flex;
    flex: 1;
    align-items: center;
    color: gray;
    max-width: 1000px;
    background-color: white;
    border-radius: 4px;
    margin-left: 15px;
}
.nav-search-catageory{
    display: flex;
    align-items: center;
    background-color: #e5e5e5;
    padding: 10px 20px;
    gap: 5px;
    border-radius: 4px 0 0 4px;
}
.nav-search-catageory img{
    height: 10px;
}
.nav-search-text{
    border: none;
    outline:none;
    padding-left: 20px;
    width: 100%;
}
.nav-search-icon{
    max-width: 41px;
    background-color: #ffd64f;
    padding: 8px;
    border-radius: 0px 4px 4px 0px;
}
.language{
    display: flex;
    align-items: center;
    margin-left: 15px;
    gap: 5px;
}
.language .flag{
    width:25px;
}
.drop-down-img{
    width: 8px;
    margin-top: 3px;
}
.text1{
    margin-left:15px;
}
.text1 p{
    font-size: 12px;
}
.text1 h1{
    font-size: 14px;
}
.cart{
    display: flex;
    text-align: center;
    margin-left: 15px;
}
.cart-img{
    width: 35px;
}
.cart .txt{
    display: flex;
    align-items: end;
    font-size: 18px;
}
.nav-bottom{
    display: flex;
    align-items: center;
    padding: 8px 15px;
    color: white;
    background-color: #232f3e;
    gap: 20px;
    font-size: 15px;
}
.menu{
    display: flex;
    align-items: center;
    gap:5px;
    font-weight: 600;
}
.menu_icon{
    width: 25px;
}   
.header ul{
    display: flex;
    overflow-y: hidden;
}
.header-img{
    max-width: 100%;
    mask-image: linear-gradient(to bottom,#000000 50%,transparent 100%) ;
}
.header a{
    position: absolute;
    top:30%;
    z-index:1;
    color:rgb(34, 32, 32);
    font-size:50px;
    font-weight: lighter;
    padding:5vh 1vw;
    cursor: pointer;
}
.next{
    right: 0;
}
.rows{
    display: grid;
    grid-template-columns: repeat(4,1fr );    
    gap: 20px;
    margin: 20px 30px;
    margin-top: -20vw;
}
.rows p{
    font-size: 1rem;
}
.rows h3{
    font-size: 1.5rem;
}
.cols{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    background: #fff;
    z-index:1;
}
.to-to img{
    width: 100%;
    height: auto;
    padding: 7px 7px;
}
.to-to{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.one img{
    width:100%;
    height: 80%; 
}
.smartphones-img{
    width: 100%;
    height: auto;
}
.sub-div{
    display: flex;
    gap: 5px;
    padding: 3px 7px;
}
.sub-div img{
    width: 30%;
    min-width: 50px;
    min-height: 50px;
}
.rows a{
    font-size: 0.8 rem;
    color: #009999;
    font-weight: 500;
}
.rows a:hover{
    font-size: 0.80rem;
    color: red;
    font-weight: 500;
    text-decoration: underline;
}
.product-slider{
    background-color: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom:15px;
}
.products{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    margin-top: 10px;
}
.products img{
    max-width: 200px;
    max-height: 200px;
}
.box-row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 30px;
}
.box-col{
    display:flex;
    flex-direction: column;
    gap:10px;
    padding: 15px 20px;
    background: #fff;
    max-width: 24%;
    min-height: 200px;
}
.box-row a{
    font-weight: 13px;
    color: #009999;
    font-weight: 500;
}
.product-slider-with-price{
    background-color: #fff;
    margin: 0 30px;
    padding: 20px;
    margin-bottom: 15px;
}
.product-slider-with-price .products{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
}
.product-slider-with-price .products::-webkit-scrollbar{
    display: none;
}
.product-card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 210px;
    background: #fbfbfb;
}
.product-card img{
    width:110px;
    margin:0 50px;
}
.product-offer p{
    background-color: #be0b3b;
    color: #fff;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 2px;
    margin: 8px 0;
    font-size: 13px;
}
.product-offer span{
    color:#be0b3b;
    font-weight: 500;
    font-size: 12px;
}
.product-price{
    color: gray;
    font-size: 13px;
}
.product-card h4{
    color:#525252;
    font-size: 15px;
    font-weight: 400;
}
.border{
    border: 3px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
    cursor: pointer;
}
.cols.nine.one {
    display: none;
}
.footer-top{
    width: 100%;
    background-color: #232f3e;
    text-align: center;
    padding: 10px;
}
.footer-top a{
    color: white;
    font-weight: 500;
    font-size: 13px;
}
.footer-top:hover{
    background-color: gray;
}
.container{
    width: 100%;
    background-color: #131921;
}
.text-container{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    font-weight: 400;
}
.text-container h6{
    font-size: 20px;
}
.text-container .text li{
    list-style: none;
    font-size: 12px;
}
.text-container a{
    text-decoration: none;
    color: white;
}
.main-footer{
    display: flex;
    padding: 20px;
    gap: 10px;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #131921;
    padding: 20px 60px;
}
@media only screen and (max-width: 900px){
    nav{
        flex-wrap: wrap;
    }
    .nav-search{
        order: 7;
        margin: 15px 0 5px;
        min-width: 300px;
    }
    .rows {
        grid-template-columns: repeat(3, 1fr);
        margin: 20px 15px;
      }
    
      .cols {
        padding: 10px;
      }
      .cols.nine.one {
        display: flex; 
      }
}

@media only screen and (max-width: 600px){
    .location, .language, .text1, .cart{
        display: none;
    }
    .nav-bottom{
        font-size: 13px;
        gap: 10px;
        overflow-x: scroll;
    }
    .nav-bottom::-webkit-scrollbar{
       display: none;
    }
    .nav-search{
        position: absolute;
        left: 150px;
        top: -10px;
    }
    .nav-bottom p{
        text-wrap: nowrap;
    }
    .mobile-user-icon{
        display: flex !important;
        flex: 1;
        justify-content: flex-end;
    }
    .mobile-user-icon img{
        width: 25px;
    }
    .nav-cart h4{
        display: none;
    }
    .nav-cart img{
        width: 25px;
    }
    .header-slider a{
        top: 24%;
        padding: 2vh 1vw;
        font-size: 15px;
    }
    footer{
        justify-content: center;
        flex-direction: column;
        font-size: 14px;
    }
    .rows{
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 10px;
    }
    .cols{
        padding: 8px;
    }
    .cols.nine.one {
        display: none;
    }
}
